/* Print stylesheet for a magazine */
/* Responsive without media queries ✔️*/
/* <=5kb css ✔️*/

/* ------------------ GLOBAL ----------------- */
@import url('https://fonts.googleapis.com/css?family=PT+Serif');

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Noto Serif SC', serif;
	padding: 0 10rem;
	padding-bottom: 5rem;
	overflow-x: hidden;
}

img, video {
	width: 100%;
}

p {
	line-height: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	margin: 2.5em 0 1em 0;
}

li {
	margin: 1.5rem 0;
}

h1 {
	font-size: 20rem;
	font-weight: 900;
	line-height: .45em;
	margin: 5rem 0 1.5rem -5.5rem;
	color: rgb(192, 192, 192);
	word-break: break-all;
	width: 680px;
}

h2 {
	font-size: 1.75rem;
	font-weight: 100;
}

h3 {
	font-size: 1rem;
	font-weight: bold;
}

h1 + header {
	font-size: 1.5rem;
	margin-bottom: 3rem;
	text-indent: 20vw;
}

.fig {
	position: relative;
	margin: 2rem 0;
} .fig:nth-of-type(even) {
	right: -12rem;
} .fig:nth-of-type(odd) {
	left: -12rem;
} .fig>figcaption {
	width: 85%;
	margin: 0 auto;
	color: rgb(120, 120, 120);
	font-style: italic;
	font-size: .8em;
	text-shadow: 0 0 1px white;
}

.l-wacky p+p,
.l-wacky h2,
.l-wacky h2+p,
.l-wacky h3,
.l-wacky h3+p {
	position: relative;
}

.l-wacky p+p,
.l-wacky h2+p,
.l-wacky h3+p {
	margin: 2rem 0;
}

.l-wacky p+p:nth-of-type(even),
.l-wacky h2:nth-of-type(even),
.l-wacky h2+p:nth-of-type(even),
.l-wacky h3:nth-of-type(even),
.l-wacky h3+p:nth-of-type(even) {
	left: -6rem;
}

.l-wacky p+p:nth-of-type(odd),
.l-wacky h2:nth-of-type(odd),
.l-wacky h2+p:nth-of-type(odd),
.l-wacky h3:nth-of-type(odd),
.l-wacky h3+p:nth-of-type(odd) {
	right: -6rem;
}

/* ------------------ SCREEN ----------------- */

@media screen {
	body {
		max-width: 60ch;
		margin: auto;
	}

	main>section:last-of-type {
		border-top: 4px solid #F9F9F9;
		margin-top: 5rem;
	}

	#meta {
		position: fixed;
		top: 5rem;
		left: -8rem;
		background: #F9F9F9;
		padding: 2rem 1rem 2rem 5rem;
		text-align: right;
		transition: left .2s ease;
	} #meta:hover {
		left: 0rem;
		padding: 2rem 1rem 2rem 5rem;
	} #meta h3 {
		margin-top: 0;
	} #meta ul {
		list-style: none;
	} #meta li {
		margin: .5rem 0;
	}
}

/* ------------------ PRINT ----------------- */

@media print {
	li, figure, a, blockquote, table, pre, h1, h2, h3, h4, h5, h6, p {
    page-break-inside: avoid
	}

	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}

	ul, ol, dl, p+p {
		page-break-before: avoid;
	}

	section:last-of-type {
		page-break-before: always;
	}

	@page {
		margin: 2cm 0;
	}

	a[href^="#"], a[href^="./"] {
		color: currentColor;
		font-style: italic;
	}

	a[href^="http"] {
		color: rgb(63, 36, 114);
	} a[href^="http"]:before {
		position: absolute;
		content: attr(data-shortlink);
		letter-spacing: -1px;
		font-family: monospace;
		display: inline-block;
		color: currentColor;
		left: 2.25rem;
		width: 3.5cm;
		text-indent: 0;
		word-break: break-all;
		line-height: 1rem;
		margin-top: .433em;
		max-height: 2.5rem;
		overflow-y: hidden;
		text-overflow: ellipsis;
	}

	.l-wacky p+p:nth-of-type(even) a[href^="http"]:before,
	.l-wacky h2+p:nth-of-type(even) a[href^="http"]:before,
	.l-wacky h3+p:nth-of-type(even) a[href^="http"]:before {
		margin-left: 28.5rem;
	}

	.l-wacky p+p:nth-of-type(odd) a[href^="http"]:before,
	.l-wacky h2+p:nth-of-type(odd) a[href^="http"]:before,
	.l-wacky h3+p:nth-of-type(odd) a[href^="http"]:before {
		left: -8rem;
	}

	figure {
		margin: 1rem 0 1rem 3rem;
	}

	aside {
		display: block;
		background-color: unset;
	}

	::-webkit-media-controls {
		display: none;
	}

	h1 {
		width: 145%;
		letter-spacing: -15px;
	} h1 + header {
		text-indent: 37.5vw;
	}

	.l-wacky .fig:nth-of-type(even) {
		left: -3rem;
		width: 135%;
	} .l-wacky .fig:nth-of-type(odd) {
		left: -13rem;
		width: 130%;
	}

	footer {
		display: none;
	}
}

.box-swiss01 {
  fill: none;
  stroke: rgba(0, 0, 0, .2);
  stroke-width: 15px;
	stroke-dasharray: 100px;
	stroke-linecap: square;
	position: absolute;
	width: 125vw;
	margin-left: -14.5rem;
} .box-swiss01 .rect-swiss01 {
	animation: dash 13s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
} .box-swiss01 .rect-swiss02 {
	transform: translate(50px, 50px);
	animation: dash 7s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
} @keyframes dash {
	0% {
		stroke: rgba(17, 9, 48, .5);
	} 33% {
		stroke: rgba(134, 22, 87, .5);
	} 66% {
		stroke: rgba(83, 173, 162, .5);
	}
  100% {
		stroke-dashoffset: 500px;
		stroke: rgba(255, 177, 33, .5);
  }
}

.circle-swiss01 {
	fill: none;
  stroke: rgba(0, 0, 0, .2);
  stroke-width: 5px;
	position: absolute;
	left: 0;
} .circle-swiss01>circle {
	animation: pulse 10s cubic-bezier(0.46, 0.03, 0.52, 0.96) infinite alternate;
} @keyframes pulse {
	0% {
		r: 0;
		stroke: rgba(144, 216, 229, .5);
	} 50% {
		r: 100;
		stroke: rgba(250, 29, 64, .5);
	} 100% {
		r: 25;
		stroke-width: 50px;
		stroke: rgba(183, 244, 207, .5);
	}
}