/* Print stylesheet for a magazine */
/* ??? Two colours */
/* Responds to battery level */
/* Responsive without media queries */

/* ------------------ GLOBAL ----------------- */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Noto Serif SC', serif;
	padding: 0 10rem;
	padding-bottom: 5rem;
	overflow-x: hidden;
}

img, video {
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	margin: 2.5em 0 1em 0;
}

p+p:not(:last-of-type) {
	text-indent: 3rem;
}

li {
	margin: 1.5rem 0;
}

h1 {
	font-size: 20rem;
	font-weight: 900;
	line-height: .45em;
	margin: 5rem 0 1.5rem -5.5rem;
	color: rgb(192, 192, 192);
	word-break: break-all;
	width: 131.5%;
}

h2 {
	font-size: 1.75rem;
	font-weight: 100;
}

h3 {
	font-size: 1rem;
	font-weight: bold;
}

figure {
	position: relative;
	margin: 2rem 0;
}

figure:nth-of-type(even) {
	right: -12rem;
}

figure:nth-of-type(odd) {
	left: -12rem;
}

figure>figcaption {
	width: 85%;
	margin: 0 auto;
	color: rgb(120, 120, 120);
	font-style: italic;
	font-size: .8em;
}

aside {
	background-color: #F9F9F9;
	margin: 2rem -12rem;
	padding: 4rem 36.66%;
}

aside h2 {
	margin-top: 1rem;
}

/* ------------------ SCREEN ----------------- */

@media screen {
	body {
		max-width: 60ch;
		margin: auto;
	}

	main>section:last-of-type {
		border-top: 4px solid #F9F9F9;
		margin-top: 5rem;
	}

	h1 {
		background-color: rgb(68, 133, 255);
		color: white;
	}
}

/* ------------------ PRINT ----------------- */

@media print {
	li, figure, a, blockquote, table, pre, h1, h2, h3, h4, h5, h6, p {
    page-break-inside: avoid
	}

	h1, h2, h3, h4, h5, h6 {
		page-break-after: avoid;
	}

	ul, ol, dl, p+p {
		page-break-before: avoid;
	}

	section:last-of-type {
		page-break-before: always;
	}

	@page {
		margin: 2cm 0;
	}

	a[href^="#"], a[href^="./"] {
		color: currentColor;
		font-style: italic;
	}

	a[href^="http"] {
		color: rgb(63, 36, 114);
	}

	a[href^="http"]:before {
		position: absolute;
		content: attr(data-shortlink);
		letter-spacing: -1px;
		font-family: monospace;
		display: inline-block;
		color: currentColor;
		left: 2.25rem;
		width: 3cm;
		text-indent: 0;
		word-break: break-all;
		line-height: 1rem;
		margin-top: .433em;
		max-height: 2.5rem;
		overflow-y: hidden;
		text-overflow: ellipsis;
	}

	figure {
		margin: 1rem 0 1rem 3rem;
	}

	aside {
		display: block;
		background-color: unset;
	}

	::-webkit-media-controls {
		display: none;
	}

	h1 {
		width: 145%;
		letter-spacing: -15px;
	}

	figure:nth-of-type(even) {
		left: -3rem;
		width: 135%;
	}
	
	figure:nth-of-type(odd) {
		left: -13rem;
		width: 130%;
	}

	footer {
		display: none;
	}
}