/* Print stylesheet for a magazine */
/* ??? Two colours */
/* Responds to battery level */
/* Responsive without media queries */

/* ------------------ GLOBAL ----------------- */
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Noto Serif SC', serif;
	padding: 0 10rem;
	padding-bottom: 5rem;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif;
	margin: 2.5em 0 1em 0;
}

p+p:not(:last-of-type) {
	margin-top: 1.5rem;
	text-indent: 3rem;
}

li {
	margin: 1.5rem 0;
}

h1 {
	font-size: 3rem;
	font-weight: 100;
}

h2 {
	font-size: 1.75rem;
	font-weight: 100;
}

h3 {
	font-size: 1rem;
	font-weight: bold;
}

/* ------------------ SCREEN ----------------- */

@media screen {
	body {
		max-width: 60ch;
		margin: auto;
	}
}

/* ------------------ PRINT ----------------- */

@media print {
	li, figure, section, a, blockquote, table, pre, h1, h2, h3, h4, h5, h6, img, p {
    page-break-inside: avoid
	}

	h1, h2, h3, h4, h5, h6, img {
		page-break-after: avoid;
	}

	ul, ol, dl {
		page-break-before: avoid;
	}

	@page {
		margin: 2cm 0;
	}

	a[href^="#"], a[href^="./"] {
		color: currentColor;
		font-style: italic;
	}

	a[href^="http"] {
		color: rgb(63, 36, 114);
	}

	a[href^="http"]:after {
		position: absolute;
		content: attr(data-shortlink);
		font-style: italic;
		font-size: .75em;
		display: inline-block;
		text-decoration: none;
		color: rgb(172, 172, 172);
		left: 2rem;
		width: 2.5cm;
		text-indent: 0;
		word-break: break-all;
		line-height: 1rem;
		margin-top: .25em;
		max-height: 2.5rem;
		overflow-y: hidden;
		text-overflow: ellipsis;
	}

	.no-print, video {
		display: none;
	}

	figure {
		margin: 1rem 0 1rem 3rem;
	}

	aside {
		display: none;
	}
}